/* Big tablet to 1200px (widths smaller than the 1140px) */
@media only screen and (max-width: 1200px) {
/*----------Subpage PriceList----------*/
.priceList {
    font-size: 110%;
    display: block;
    width: 100%;
    margin: 0 10%;
}
.left { margin-right: 0; }
.right { margin-left: 0; }
.price,
.supplement { text-align: right; }


}

/* Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
/*----------Subpage PriceList----------*/
.priceList {
    font-size: 90%;
    margin: 0 8%;
}
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
/*----------Subpage PriceList----------*/
.priceList {
    font-size: 75%;
    margin: 0 4%;
}

}