/*----------Basic Setup----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/*----------Reusable components----------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}
/*------------------------------HOME PAGE------------------------------*/














/*------------------------------SUBPAGES------------------------------*/


/*--------------------NAVIGATION--------------------*/
nav { background-color: #240a16; }

.navigation {
    flex-basis: 100%;
    display: flex;
    margin: 0 10% 0 10%;
    height: 70px;
}

.right-site-nav,
.left-site-nav { flex-basis: 50%; }


.right-site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-site-nav li {
    font-size: 95%;
    display: inline-flex;
    margin-right: 30px;
}

.right-site-nav li a:link,
.right-site-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.right-site-nav li a:after {
    transition: all ease-in-out .25s;
    background: none repeat scroll 0 0 rgb(156, 18, 110);
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.right-site-nav li a:hover:after {
    width: 100%;
}

/*--------------------LOGO--------------------*/
.logo {
    margin: auto;
}

.moni {
    text-decoration: none;
    font-family: Aref Ruqaa;
    font-size: 200%;
    color: #fff;
}

.q { color: rgb(156, 18, 110); }

/*--------------------FOOTER--------------------*/
footer {

    height: 140px;
    background-color: #240a16;
    color: #fff;
    margin-top: 30px;
}

.links { display: flex; height: 100px; }

.copyright {
    display: flex;
    height: 20px;
    font-size: 80%;
    justify-content: center;
}

.left-footer,
.right-footer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin: 0 10%;
}

.right-footer{ justify-content: flex-end; }
.footer-links {
    list-style: none;
}

.footer-socials {
    list-style: none;
}

.footer-links li,
.footer-socials li {
    display: inline-block;
    margin-right: 30px;
}

.footer-links li:last-child,
.footer-socials li:last-child { margin-right: 0; }

.footer-links li a:link,
.footer-socials li a:link,
.footer-links li a:visited,
.footer-socials li a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}
.footer-socials li a:link,
.footer-socials li a:visited { font-size: 130%; }

.footer-links li a:link,
.footer-links li a:visited {
    font-size: 90%;
    color: #fff;
}
.footer-links li a:hover,
.footer-links li a:active { color: #718093; }

.instagram:hover,
.facebook:hover,
.whatsapp:hover {
    transition: color 0.2s, transform 0.2s;
    transform: scale(1.2);
}

.instagram:hover { color: #c32aa3;}
.facebook:hover { color: #1877f2; }
.whatsapp:hover { color: #25d366; }

/*------------------------------PRICELIST------------------------------*/
.section_priceList { display: flex; }
.priceList {
    display: flex;
    flex-basis: 100%;
    margin: 0 10%;
}

.left,
.right {
    flex-basis: 50%;
    margin-top: 30px;
}
.left { margin-right: 5px; }
.right { margin-left: 5px; }

.title,
.subtitle,
.description { text-align: center; }

.title {
    width: 70%;
    margin: 15px auto;
    font-weight: 600;
    border-bottom: 2px solid #ab1479;
}

.subtitle {
    font-size: 90%;
    font-weight: 400;
    margin-top: 10px;
}

.description {
    font-size: 75%;
    font-weight: 300;
    margin-bottom: 10px;
}

.price,
.supplement { text-align: center; }

.container,
.container_5columns {
    display: grid;
    font-size: 90%;
    margin-bottom: 4px;
}

.container:hover,
.container_5columns:hover {
    background-color:  #fef3fa;
    transition: 0.2s;
}
.container { grid-template-columns: 50% 20% 30%; }
.container_5columns { grid-template-columns: 35% 10% 15% 40%; }

.priceList__delete {
    cursor: pointer;
    font-size: 160%;
}

