/*----------Basic Setup----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
    width: 100% !important;
}



/*------------------------------HOME PAGE------------------------------*/
/*--------------------Navigation--------------------*/
/* hp-HomePage */

.hp_navigation {
    flex-basis: 100%;
    display: flex;
    margin: 0 10% 0 10%;
}

.hp_right-site-nav { flex-basis: 60%; }
.hp_left-site-nav { flex-basis: 40%; }


.hp_right-site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 13px;
}

.hp_right-site-nav li {
    font-size: 95%;
    display: inline-flex;
    margin-left: 30px;
}

.hp_right-site-nav li a:link,
.hp_right-site-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.hp_right-site-nav li a:after {
    transition: all ease-in-out .25s;
    background: none repeat scroll 0 0 rgb(156, 18, 110);
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.hp_right-site-nav li a:hover:after { width: 100%; }
/* Footer */
.hp-footer { margin-top: 0; }
.hp-mobile-navi { right: 10% !important; }
/* Animation */
.nav_1_animation { --animate-duration: 0.5s; }
.nav_2_animation { --animate-duration: 0.6s; }
.nav_3_animation { --animate-duration: 0.7s; }
.nav_4_animation { --animate-duration: 0.8s; }
/*--------------------LOGO--------------------*/
.hp_logo { margin: auto; }
.hp_q { color: rgb(156, 18, 110); }

.hp_moni {
    text-decoration: none;
    font-family: Aref Ruqaa;
    font-size: 200%;
    color: #fff;
}
/*--------------------STICKY-NAV--------------------*/
.sticky-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: hsla(332, 57%, 9%, 0.9);
    height: 55px;
    z-index: 9999;
}

.sticky-nav .hp_right-site-nav { margin-top: 4px; }
.sticky-nav .hp_left-site-nav { margin-top: -10px; }

/*--------------------FRONT PAGE--------------------*/
.section_frontPage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background-frontPage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.frontPageTitle {
    position: absolute;
    left: 10%;
    top: 35%;
    font-size: 400%;
    font-weight: 100;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}
/*--------------------NEWS--------------------*/
.section_news {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
    width: 80%;
    margin: 0 auto;
}

.news-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 160%;
    font-weight: 400;
    border-bottom: 2px solid #ab1479;
    width: 40%;
    margin: 0 auto 50px auto;
}

.slide {
    display: flex !important;
    transform: scale(0.9);
}

.facebook-news { width: 100%; }

.fb-post {
    display: flex !important;
    justify-content: center !important;
}

.fp-prev { border-right-color: #5f0b43 !important; }
.fp-next { border-left-color: #5f0b43 !important; }
.fp-slidesNav {
    display: flex !important;
    justify-content: center !important;
}
/*--------------------ABOUTUS--------------------*/
.section_aboutUs {
    height: 100vh;
    background-color: #f7f7f7;
}

.about_us {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.aboutUs_workers {
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.aboutUs_description {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
}

.aboutUs_bottom_left,
.aboutUs_bottom_right {
    background-image: url('../img/woman.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.monikaDes,
.paulaDes {
    height: 100%;
    width: 100%;
}

.monika-btn,
.paula-btn {
    display: block;
    margin: 20px auto 0 auto;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: .2s;
}

.monika-btn:hover,
.paula-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.767) 0px 22px 70px 4px;
}
.monika-btn-img,
.paula-btn-img {
    border-radius: 50%;
}
/*--------------------TESTIMONIALS--------------------*/
.section_testimonials {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/background-testimonials.jpg);;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.testimonials {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 35% 75%;
}

.columns {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.testimonials_upper {
    height: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
}

.testimonials_title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
    font-size: 185%;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #ab1479;
    width: 40%;
    margin: 0 auto 50px auto;
}

.quote {
    font-size: 500%;
    color: #fff;
}

.right_col::after {
    content: "\201c";
    display: flex;
    font-size: 500%;
    color: #fff;
    justify-content: flex-end;
}

.opinion {
    color: #fff;
    font-style: italic;
    line-height: 145%;
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.customer-pic {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.customer-name { color: #fff; }
/*------------------------------REUSABLE SECTIONS/COMPONENTS------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}
/*--------------------NAVIGATION--------------------*/
.nav { background-color: #240a16; }
.navigation {
    flex-basis: 100%;
    display: flex;
    margin: 0 10% 0 10%;
    height: 70px;
}

.right-site-nav,
.left-site-nav { flex-basis: 50%; }


.right-site-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.right-site-nav li {
    font-size: 95%;
    display: inline-flex;
    margin-right: 30px;
}

.right-site-nav li a:link,
.right-site-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.right-site-nav li a:after {
    transition: all ease-in-out .25s;
    background: none repeat scroll 0 0 rgb(156, 18, 110);
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.right-site-nav li a:hover:after { width: 100%; }
/*--------------------MOBILE NAVIGATION--------------------*/
.mobile-navi {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 3%;
    visibility: hidden;
}

.burger-btn {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 140%;
}
/*--------------------LOGO--------------------*/
.logo { margin: auto; }
.q { color: rgb(156, 18, 110); }

.moni {
    text-decoration: none;
    font-family: Aref Ruqaa;
    font-size: 200%;
    color: #fff;
}
/*--------------------FOOTER--------------------*/
footer {
    height: 140px;
    background-color: #240a16;
    color: #fff;
    margin-top: 30px;
}

.links { display: flex; height: 100px; }

.copyright {
    display: flex;
    height: 20px;
    font-size: 80%;
    justify-content: center;
}

.left-footer,
.right-footer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin: 0 10%;
}

.right-footer{ justify-content: flex-end; }
.footer-links { list-style: none; }
.footer-socials { list-style: none; }

.footer-links li,
.footer-socials li {
    display: inline-block;
    margin-right: 30px;
}

.footer-links li:last-child,
.footer-socials li:last-child { margin-right: 0; }

.footer-links li a:link,
.footer-socials li a:link,
.footer-links li a:visited,
.footer-socials li a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}
.footer-socials li a:link,
.footer-socials li a:visited { font-size: 130%; }

.footer-links li a:link,
.footer-links li a:visited {
    font-size: 90%;
    color: #fff;
}
.footer-links li a:hover,
.footer-links li a:active { color: #718093; }

.instagram:hover,
.facebook:hover,
.whatsapp:hover {
    transition: color 0.2s, transform 0.2s;
    transform: scale(1.2);
}

.instagram:hover { color: #c32aa3;}
.facebook:hover { color: #1877f2; }
.whatsapp:hover { color: #25d366; }
/*--------------------SCROLLBAR--------------------*/
.inputMessage::-webkit-scrollbar,
.modal-content::-webkit-scrollbar { width: 12px; }

.inputMessage::-webkit-scrollbar-track,
.modal-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.inputMessage::-webkit-scrollbar-thumb,
.modal-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #742047;
}

.inputMessage::-webkit-scrollbar-thumb:hover,
.inputMessage::-webkit-scrollbar-thumb:active,
.modal-content::-webkit-scrollbar-thumb:hover,
.modal-content::-webkit-scrollbar-thumb:active { background: #8e2857; }
/*------------------------------SUBPAGES------------------------------*/
/*--------------------SUBPAGE* OFFER--------------------*/
.section_offer { margin: 70px 10%; }

.offer_row {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    place-items: center;
    margin-bottom: 35px;
}
.offer_container {
    position: relative;
    width: 290px;
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.offer_container:hover .hover_content {
    bottom: 0;
    height: 100%;
}

.hover_content {
    background-color:  #fde3f3;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    transition: .5s ease;
    overflow: hidden;
}

.btn-pop-up {
    display: block;
    cursor: pointer;
    margin: 50% auto;
    border: 1px solid #fab3df;
    border-radius: 15px;
    text-decoration: none;
    background-color: transparent;
    font-size: 95%;
    font-weight: 300;
    padding: 5px 10px;
    transition: background-color 0.3s;
    outline:none
}

.btn-pop-up:hover {
    color: #fff;
    background-color: #fab3df;
}

.offer_title {
    width: 100%;
    color: #fff;
    margin-top: 80px;
    display: block;
    text-align: center;
    position: absolute;
}

.peeling {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://i.imgur.com/WKyHzG8.jpg");
    background-size: cover;
}
.diamond {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/ZakOKXC.jpg");
    background-size: cover;
}
.mesotherapy {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://i.imgur.com/csn4hKJ.jpg?1");
    background-size: cover;
}
/* POP-UP */
.pop_up {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-peeling,
.modal-diamond,
.modal-mesotherapy { display: none; }

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    position: relative;
}

.modal-title {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 120%;
}

.modal-description {
    margin: 15px 5%;
    line-height: 145%;
}

.btn-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 1%;
    top: 1%;
}

.btn-close:hover,
.cbtn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*--------------------SUBPAGE* PRICELIST--------------------*/
.section_priceList { display: flex; }
.priceList {
    display: flex;
    flex-basis: 100%;
    margin: 0 10%;
}

.left,
.right {
    flex-basis: 50%;
    margin-top: 30px;
}
.left { margin-right: 5px; }
.right { margin-left: 5px; }

.title,
.subtitle,
.description { text-align: center; }

.title {
    width: 70%;
    margin: 15px auto;
    font-weight: 600;
    border-bottom: 2px solid #ab1479;
}

.subtitle {
    font-size: 90%;
    font-weight: 400;
    margin-top: 10px;
}

.description {
    font-size: 75%;
    font-weight: 300;
    margin-bottom: 10px;
}

.price,
.supplement { text-align: center; }

.container,
.container_5columns {
    display: grid;
    font-size: 90%;
    margin-bottom: 4px;
}

.container:hover,
.container_5columns:hover {
    background-color:  #fef3fa;
    transition: 0.2s;
}
.container { grid-template-columns: 50% 20% 30%; }
.container_5columns { grid-template-columns: 35% 10% 15% 40%; }

.priceList__delete {
    cursor: pointer;
    font-size: 160%;
}
/*--------------------SUBPAGE* CONTACT--------------------*/
.section_contact {
    height: 95vh;
    display: flex;
}

.contact {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.left-side,
.right-side {
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}

.contact-container-right,
.contact-container-left {
    width: 90%;
    height: 90%;
    margin: 5% auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contact-container-right {
    display: grid;
    grid-template-rows: 50% 50%;
}

.upperPart {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.smallContainerLeft,
.smallContainerRight {
    display: block;
    margin: auto;
    width: 85%;
    height: 85%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

.content {
    margin-top: 40px;
    margin-left: 20px;
}

.contactTitle {
    color:  rgb(156, 18, 110);
    font-weight: 400;
    font-size: 110%;
    margin-bottom: 15px;
}

.contactData {
    color: black;
    font-weight: 300;
    font-size: 90%;
    line-height: 120%;
}

.copy-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -2px;
    cursor: pointer;
}

.copy-btn:hover {
    color:  rgb(156, 18, 110);
    transition: color 0.2s, transform 0.2s;
    transform: scale(1.1);
}

.hours { margin-top: 10px; }

.map {
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* CONTACT FORM */
.contact-form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 40% 30%;
}

.contactCenter,
.contactBottom { position: relative; }

.contactTop { margin-top: 130px; }
.writeToUs {
    margin: 0 auto;
    width: 40%;
    font-size: 140%;
    font-weight: 400;
    border-bottom: 2px solid #ab1479;
    text-align: center;
}

.form_1,
.form_2,
.form_3 {
    width: 60%;
    position: relative;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
}
.form_3 { height: 150px; }

.inputName,
.inputEmail,
.inputMessage {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.inputMessage {
    resize: none;
    overflow-y: auto;
}

.labelName,
.labelEmail,
.labelMessage {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.labelName::after,
.labelEmail::after,
.labelMessage::after {
    content: "";
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(156, 18, 110);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.labelName,
.labelEmail,
.labelMessage {
    position: absolute;
    bottom: 0px;
    left: 0%;
}

.labelName::after,
.labelEmail::after,
.labelMessage::after {
    position: absolute;
    left: 0px;
    bottom: -1px;
}

.content-name,
.content-email,
.content-message {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.content-message { bottom: 109px; }

.inputName:focus + .labelName .content-name,
.inputName:valid + .labelName .content-name,
.inputEmail:focus + .labelEmail .content-email,
.inputEmail:valid + .labelEmail .content-email,
.inputMessage:focus + .labelMessage .content-message,
.inputMessage:valid + .labelMessage .content-message {
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(156, 18, 110);
}

.inputName:focus + .labelName::after,
.inputName:valid + .labelName::after,
.inputEmail:focus + .labelEmail::after,
.inputEmail:valid + .labelEmail::after,
.inputMessage:focus + .labelMessage::after,
.inputMessage:valid + .labelMessage::after { transform: translateX(0%); }

.submit-btn {
    position: absolute;
    top: 14%;
    right: 19%;
    cursor: pointer;
    background: rgb(156, 18, 110);
    display: block;
    padding: 5px 18px;
    font-size: 90%;
    color: #fff;
    border: 1px solid rgb(156, 18, 110);
    border-radius: 200px;
    text-align: center;
    transition: background-color 0.2s;
}

.submit-btn:hover,
.submit-btn:active { background-color: #8d1063; }
/*--------------------*SUBPAGE* OURWORK--------------------*/
.galleryTitle {
    margin-top: 30px;
    font-size: 140%;
    text-align: center;
}

.gallery {
    border-bottom: 2px solid #ab1479;
    width: 40%;
    margin: 0 auto;
    font-size: 140%;
    font-weight: 300;
}

.my-gallery {
    margin-top: 40px;
    line-height: 0;
    column-count: 4;
    column-gap: 8px;
}

.my-gallery figure a img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 8px;
    transition: 0.2s;
}

.my-gallery figure a img:hover { opacity: 0.8; }
.my-gallery figcaption { display: none; }




